<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='scripts/style.css')}}">
	<nav class='top-bar'><b>Racers API</b></nav>
</head>
<body>
	<p class='welcome'>Welcome Racers!</p>
	<p class='description'>Racers API is a game where you have to go around racing with your car, earning money. With that money you can buy cars and progress through the game!</p>
	<p class='description2'>You have to combine you coding skills and knowledge to start and finish. Making HTTP requests to the API and getting a response. Documenatation (instructions)  <a class='links' href='https://github.com/billyBob456/Racers-API/blob/main/README.md'>here</a>.</p>
</body>
</html>